/* font-family: 'Nanum Gothic',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'EB Garamond',
serif; */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 3% 12% 0%;
}

.navbar-item {
    padding: ;
}

.logo {
    font-size: 1.5rem;
    margin-left: 15px;
    color: #7a5c35;
}

.navbar-item {
    color: rgb(29, 28, 28);
}

.navbar-item:hover {
    color: #7a5c35 !important;
    background-color: #080808;
}

.txt:hover {
    color: brown;

}





.latest-txt h1 {
    text-align: center;
    font-size: 200%;
    font-family: "EB Garamond", serif;
    padding: 2% 0%;
}

.latest-txt hr {
    width: 15%;
    margin: auto;
    border-top: 2px solid rgb(100, 100, 100);

}

/*column section*/
#column {
    padding-top: 25px;
    margin: 0% 12%;
}

.column img {
    transition: 1.5s;

}

.column img:hover {
    filter: grayscale(80%);
    transform: scale(1.1);
}

.insta {
    text-align: end;
}

.ico {
    margin: 0px 7px;

}

.ico:hover {
    color: #7a5c35;
}

.footer {
    color: rgb(66, 66, 66);
    background-color: rgb(255, 255, 255);
}

.butt {
    padding: 5% 0%;

}

.column p a {
    color: black;
}

.column p a:hover {
    color: #7a5c35;
    text-decoration: underline;
}

.button:hover {
    color: #fffff8;
    background-color: #7a5c35;
}