/* font-family: 'Nanum Gothic',
sans-serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'EB Garamond',
serif; */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 3% 3% 0%;
}

.navbar-item {
    padding: ;
}

.logo {
    font-size: 1.5rem;
    margin-left: 15px;
    color: rgb(85, 81, 43);
}

.navbar-item p {
    font-size: 100%;
}

.latest-txt h1 {
    text-align: center;
    font-size: 200%;
    font-family: "EB Garamond", serif;
}

.latest-txt hr {
    width: 15%;
    margin: auto;
    border-top: 2px solid rgb(100, 100, 100);

}

/*column section*/
#column {
    padding-top: 25px;
    margin: 0% 12%;
}

.column img {
    transition: 1.5s;

}

.column img:hover {
    filter: grayscale(80%);
    transform: scale(1.1);
}